.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: end;
  justify-content: end;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-bg {
  position: absolute;
  background: rgba(17, 17, 17, 0.145);
  width: 100%;
  height: 100%;
}

.modal-container {
  position: relative;
  max-width: 350px;
  margin: 2em;
}

.modal-content video {
  border-radius: 25px;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: #111;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

.modal-play-btn {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .modal-play-btn {
    width: 90px;
    height: 90px;
  }
}
