<section class="pb-small pb-md-medium" data-scroll-section>
  <div class="container p-relative">
    <div class="row g-0 flex-md-row-reverse">
      <div class="col-md-8">
        <div class="text-highlight-wrap">
        <h1 class="h1 mt-md-0 text-highlight">
            <span>&nbsp;</span> Implanty stomatologiczne to nowoczesne rozwiązanie do uzupełniania braków w uzębieniu. Są one trwałą i estetyczną alternatywą dla protez oraz mostów
        </h1>
        </div>
      </div> 
      <div class="col-md-4 pt-5 pt-md-2 ps-md-5 d-none d-md-block fade-in">
          <img src="/assets/img/hero/avatar.png" loading="lazy" class="avatar" width="90px" height="90px" alt="Avatar">
          <a href="/kontakt/" title="Kontakt" class="modal-play-btn magnetic" data-strength="40">
            <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_3700_2)">
              <path d="M56.8 37H39.2C37.99 37 37 37.99 37 39.2V59L41.4 54.6H56.8C58.01 54.6 59 53.61 59 52.4V39.2C59 37.99 58.01 37 56.8 37Z" fill="black"/>
              </g>
              <defs>
              <clipPath id="clip0_3700_2">
              <rect width="96" height="96" fill="white"/>
              </clipPath>
              </defs>
              </svg>              
          </a>
      </div>
    </div>
  </div>
</section>